[user]
    email = dev@taydev.net
    name = Taylor Silva
[init]
    defaultBranch = main
[includeIf "gitdir:~/workspace/concourse/**"]
    path = ~/workspace/concourse/.gitconfig
[includeIf "gitdir:~/workspace/prophix/**"]
    path = ~/workspace/prophix/.gitconfig
[push]
    default = current #automatically setups remote tracking
[url "git@github.com:"]
    pushInsteadOf = https://github.com/
    pushInsteadOf = git://github.com/
[core]
    excludesfile = /Users/taylor/.gitignore
    editor = nvim
[alias]
    co = checkout
    ci = commit --signoff -v
    dci = duet-commit -v --signoff
    st = status
    br = branch
    rbd = rebase --committer-date-is-author-date
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[merge]
    conflictStyle = zdiff3
[rebase]
    autstash = true #runs git stash and pop when doing a git pull --rebase
[commit]
    verbose = true
[rerere]
    enabled = true #remembers how you resolved merge conflicts during rebase and auto resolves them again if it can
[diff]
    algorithm = histogram
[log]
    date = iso
