[user]
    email = dev@taydev.net
    name = Taylor Silva
[init]
    defaultBranch = main
[includeIf "gitdir:~/workspace/concourse/**"]
    path = ~/workspace/concourse/.gitconfig
[includeIf "gitdir:~/workspace/concourse/vmware/**"]
    path = ~/workspace/concourse/vmware/.gitconfig
[push]
    default = simple
[url "git@github.com:"]
    pushInsteadOf = https://github.com/
    pushInsteadOf = git://github.com/
[core]
    excludesfile = /Users/taylor/.gitignore
    editor = nvim
[alias]
    co = checkout
    ci = commit --signoff -v
    dci = duet-commit -v --signoff
    st = status
    br = branch
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
