[user]
	email = taylorsilva@outlook.com
	name = Taylor Silva
[includeIf "gitdir:~/workspace/concourse/**"]
    path = ~/workspace/concourse/.gitconfig
[push]
	default = simple
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
[core]
	excludesfile = /Users/taylor/.gitignore
	editor = nvim
[alias]
	co = checkout
	ci = commit --signoff -v
    dci = duet-commit -v
	st = status
	br = branch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
